.addClassBackground {
  background: #fcf2ff;
  height: 100%;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.searchBox {
  width: 100%;
}
.searchInputBox {
}
.searchInput {
  background: white;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px;
  border: none !important;
  outline: none !important;
}

.searchInput:hover {
  border: none !important;
  outline: none !important;
}
.returnButton {
  color: #6f48eb;
  font-size: 30px !important;
  margin-bottom: 5px !important;
}
.returnButtonBox {
  display: flex;
  width: 100%;
  margin-bottom: 5px !important;
  font-size: 22px !important;
  font-weight: bold;
  color: #6f48eb;
}
