.addClassBackground {
  background: #fcf2ff;
  height: 100%;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  position: relative;
  text-align: center;
  background: white;
  padding-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
  margin-bottom: 5px;
}
.body {
  padding: 10px;
  flex: 1;
  width: 100%;
}

.searchBox {
  width: 100%;
}
.searchInputBox {
}
.searchInput {
  background: white;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px;
  border: none !important;
  outline: none !important;
}

.searchInput:hover {
  border: none !important;
  outline: none !important;
}
.returnButton {
  color: #6f48eb;
  font-size: 30px !important;
  margin-bottom: 5px !important;
}
.returnButtonBox {
  display: flex;
  width: 100%;
  margin-bottom: 5px !important;
  font-size: 22px !important;
  font-weight: bold;
  color: #6f48eb;
}
.returnButton {
  color: black;
  font-size: 30px !important;
  margin-bottom: 5px !important;
}
.returnButtonBox {
  display: flex;
  width: 100%;
  margin-bottom: 5px !important;
  font-size: 22px !important;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 1px;
}
