.addClassBackground {
  background: #fcf2ff;
  height: 100%;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
}
.head_cardBox {
  width: 100%;
  font-family: "Roboto", sans-serif;
  flex: 1;

  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}
.head_card {
  padding: 0 10px;
}
.head_cardTitle {
  width: fit-content;
  background: rgb(17, 17, 30);
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  margin: 10px auto;
}
.head_cardSub {
  border-radius: 7px;
  margin-bottom: 10px;
}
.listClassBox {
  width: 100%;
  margin-top: 20px;
}
.head_cardSub_detail {
  width: 100%;
  display: flex;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px;
  background: white;
  border-radius: 7px;
  align-items: center;
}
.head_cardSubBox {
  overflow: auto;
  max-height: 240px;
}
.head_cardSub_day {
  padding: 10px;
  color: rgb(43, 79, 209);
  font-weight: 500;
}
.timeIcon {
  width: 20px;
}
.classDetail {
  margin-left: 5px;
  margin-top: 2.5px;
}

.classDetail_time {
  color: #71b3ff;
}

.classDetail_name {
  font-weight: bold;
  line-height: 24px;
}
.returnButton {
  color: #6f48eb;
  font-size: 30px !important;
  margin-bottom: 5px !important;
}
.returnButtonBox {
  display: flex;
  width: 100%;
  margin-bottom: 5px !important;
  font-size: 22px !important;
  font-weight: bold;
  color: #6f48eb;
}
