* button {
  border: none;
}
.sub_card {
  height: 88px;
  width: 100%;
  padding: 0 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.sub_cardBox {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.in_sub {
  height: 40px;
  left: 8.24px;
  top: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.in_sub_head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  white-space: nowrap;
  line-height: 14px;
  margin: 0%;
  padding: 0%;
  margin-bottom: 4px;
}
#in_sub_text {
  margin: 0%;
  padding: 0%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
#display {
  display: flex;
  margin: auto;
}

.in_sub :nth-child(2) {
  text-align: justify;
  margin-top: 1px;
  margin-left: 10px;
}
.img {
  width: 30px;
  height: auto;
}
